<!DOCTYPE html>
<html>
	<head>
		<title> Work Queue Draft </title>
    </head>
	<body id="index" onload="">
		<hr>
		<!-- Forms -->
		<form action="process.php" method="POST">
			<label> PO #(s)</label>
				<input type="text" name="PO-Number">
				<br>
			<label> Trailer #</label>
				<input type="text" name="Trailer-Number">
				<br>
			<label>Date</label>
				<input type="Date" name="Arrival Time">
				<br>
			<!--<label>	Time In</label>
				<input type="time" method="POST">-->
		<br>
		<input type="submit" name="submit"
		value="submit">			
			
		</form>
		<hr>
	</body>	
</html>